<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="English.Master.cs" Inherits="scheme_traductor.English" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> </title>
     
    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

     <link rel="stylesheet" href="sitestyles.css" />

</head> 
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

      <!-- Navbar -->
       <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #627ABC;">
         <div class="container">
          <a class="navbar-brand" runat="server" href="~/Home">eschemántico!</a>
          
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav w-100">
              <a class="nav-item nav-link" runat="server" href="~/Home">home</a>
              <a class="nav-item nav-link" runat="server" href="~/Documentation">documentation</a>
              <a class="nav-item nav-link" runat="server" href="https://github.com/klfarran/scheme-traductor.git">github</a>
              <a class="nav-item nav-link" runat="server" href="https://racket-lang.org/">dr racket</a>
              <a class="nav-item nav-link ms-auto" runat="server" href="~/Download">download</a>
              <a class="nav-item nav-link active ms-4" runat="server" style="border: 2px solid rgba(255, 255, 255, 0.8); border-radius: 10px; padding: 5px 10px;" href="~/Inicio">español</a>
             </div>   
          </div>
         </div>
       </nav>

        <!-- Sidebar -->
    <div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
            <div class="dropdown">
              <a class="sdbar triangle nav-link" data-bs-toggle="collapse" href="#definitionsSubmenu" aria-expanded="false" 
                aria-controls="definitionsSubmenu"> ▼ </a>
             <a class="sdbar nav-link" runat="server" href="~/Definiciones">definitions</a>
            </div>
           <ul class="nav flex-column ms-3 collapse" id="definitionsSubmenu">
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>definir</strong> (define)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>rastrear</strong> (trace)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>rastrear-definir</strong> (trace-define)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>sea</strong> (let)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>sea*</strong> (let*)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¡establezca!</strong> (set!)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>cita</strong> (quote)</a></li>
          </ul>
        </li>

        <li class="nav-item">
            <div class="dropdown">
              <a class="sdbar triangle nav-link" data-bs-toggle="collapse" href="#comparisonSubmenu" aria-expanded="false" 
                aria-controls="comparisonsSubmenu"> ▼ </a>
             <a class="sdbar nav-link" runat="server" href="~/Definiciones">comparison</a>
            </div>
           <ul class="nav flex-column ms-3 collapse" id="comparisonSubmenu">
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿ig?</strong> (eq?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿igv?</strong> (eqv?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿igual?</strong> (equal?)</a></li>
          </ul>
        </li>

        <li class="nav-item">
            <div class="dropdown">
              <a class="sdbar triangle nav-link" data-bs-toggle="collapse" href="#conditionalsSubmenu" aria-expanded="false" 
                aria-controls="conditionalsSubmenu"> ▼ </a>
             <a class="sdbar nav-link" runat="server" href="~/Definiciones">conditionals</a>
            </div>
          <ul class="nav flex-column ms-3 collapse" id="conditionalsSubmenu">
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>cierto</strong> (true)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>falso</strong> (false)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>si</strong> (if)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>sino</strong> (else)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>y</strong> (and)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>o</strong> (or)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>condición</strong> (cond)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿nulo?</strong> (null?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿falso?</strong> (false?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿cierto?</strong> (true?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿booleano?</strong> (boolean?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿inmutable?</strong> (immutable?)</a></li>
          </ul>
        </li>

        <li class="nav-item">
            <div class="dropdown">
              <a class="sdbar triangle nav-link" data-bs-toggle="collapse" href="#numericsSubmenu" aria-expanded="false" 
                aria-controls="numericsSubmenu"> ▼ </a>
             <a class="sdbar nav-link" runat="server" href="~/Definiciones">numerics</a>
            </div>
          <ul class="nav flex-column ms-3 collapse" id="numericsSubmenu">
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>más</strong> (+)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>menos</strong> (-)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>mult</strong> (*)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>div</strong> (/)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿número?</strong> (number?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿número-entero?</strong> (integer?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿cero?</strong> (zero?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿positivo?</strong> (positive?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿negativo?</strong> (negative?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿número-par?</strong> (even?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿número-impar?</strong> (odd?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>menos-de</strong> (<)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>más-de</strong> (>)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>raíz-cuadrada</strong> (sqrt)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>expo</strong> (expt)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>máx</strong> (max)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>mín</strong> (min)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>val-abso</strong> (abs)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>cociente</strong> (quptient)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>residuo</strong> (remainder)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>cociente/residuo</strong> (quotient/remainder)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>módulo</strong> (modulo)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>redondear</strong> (round)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>truncar</strong> (truncate)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>signo</strong> (sgn)</a></li>
          </ul>
        </li>

          <li class="nav-item">
            <div class="dropdown">
              <a class="sdbar triangle nav-link" data-bs-toggle="collapse" href="#stringsSubmenu" aria-expanded="false" 
                aria-controls="stringsSubmenu"> ▼ </a>
             <a class="sdbar nav-link" runat="server" href="~/Definiciones">strings</a>
            </div>
          <ul class="nav flex-column ms-3 collapse" id="stringsSubmenu">
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿cadena?</strong> (string?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>longitud-de-cadena</strong> (string-length)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>subcadena</strong> (substring)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>concatenar-cadena</strong> (string-append)</a></li>
          </ul>
        </li>

        <li class="nav-item">
            <div class="dropdown">
              <a class="sdbar triangle nav-link" data-bs-toggle="collapse" href="#typesSubmenu" aria-expanded="false" 
                aria-controls="typesSubmenu"> ▼ </a>
             <a class="sdbar nav-link" runat="server" href="~/Definiciones">types</a>
            </div>
          <ul class="nav flex-column ms-3 collapse" id="typesSubmenu">
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿átomo?</strong> (atom?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿símbolo?</strong> (symbol?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿carácter?</strong> (char?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿booleano?</strong> (boolean?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿inmutable?</strong> (immutable?)</a></li>
          </ul>
        </li>

          <li class="nav-item">
             <div class="dropdown">
              <a class="sdbar triangle nav-link" data-bs-toggle="collapse" href="#listsSubmenu" aria-expanded="false" 
                aria-controls="listsSubmenu"> ▼ </a>
             <a class="sdbar nav-link" runat="server" href="~/Definiciones">lists</a>
            </div>
          <ul class="nav flex-column ms-3 collapse" id="listsSubmenu">
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>combinar</strong> (cons)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>lista</strong> (list)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿lista?</strong> (list?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>¿par?</strong> (pair?)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>longitud</strong> (length)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>concatenar</strong> (append)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>pri</strong> (car)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>prri</strong> (caar)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>prrri</strong> (caaar)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>prrrri</strong> (caaaar)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>res</strong> (cdr)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>ress</strong> (cddr)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>resss</strong> (cdddr)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>ressss</strong> (cddddr)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>pres</strong> (cadr)</a></li>
            <li class="sdbar nav-item"><a class="nav-link" href="#"><strong>resp</strong> (cdar)</a></li>
          </ul>
        </li>

      </ul>
    </div>
      
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p> <%: DateTime.Now.Year %> - eschemántico!</p>
            </footer>
        </div>

    </form>
</body>
</html>
